/* .reviewContainer {
  align-content: center;
  justify-content: center;
} */
.review {
  background-color: #d9d9d9;
  width: 1349px;
  /* height: 720px; */
  height: auto;
}

.reviewMain {
  width: 900px;
  height: 500px;
}

.mainPic {
  width: 900px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  /* left: calc(50% - 1146px / 2);
  top: calc(50% - 451px / 2 - 175.5px); */
  background: url(pic3.jpeg);
  border-radius: 5px;
}

.reviewMain h2 {
  position: absolute;
  width: 414px;
  height: 58px;
  left: 480px;
  top: 423px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  color: #ffffff;
}

.reviewContent {
  display: flex;
  margin: 5px;
  width: 946px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: white;
}

.ratingContent-1 {
  width: 600px;
  height: 270px;
  margin: auto;
  background: #d9d9d9;
  border-radius: 5px;
}

.ratingContent-2 {
  width: 300px;
  height: 270px;
  margin: auto;
  background: #808080;
  border-radius: 5px;
}

.overallRating {
  width: 230px;
  height: 220px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  background: #d9d9d9;
  border-radius: 5px;
}

.overallinfo h3 {
  align-items: center;
  justify-content: center;
}

.ratings {
  display: flex;
  justify-content: center;
}

.Review {
  width: 700px;
  height: 200px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  gap: 10px;
}

.reviewtext {
  text-align: left;
  margin-left: 200px;
}

.userAvatar {
  width: 80px;
  height: 80px;
}

.reviewPart2 {
  text-align: left;
  width: 550px;
}
.reviewPart2 h3 {
  margin-top: 5px;
}
