.Contents {
  width: 1349px;
  height: auto;
  background-color: #bab499;
}

.container {
  width: 1140px;
  height: 600px;
}

.Contactcontainer {
  position: absolute;
  width: 1116px;
  height: 600px;
  display: flex;
  /* gap: 30px; */
}
.firstDiv {
  position: absolute;
  top: 50px;
  width: 600px;
  height: 500px;
  margin: 5px;
  padding: 10px;
}

.fDTitle h1 {
  font-weight: bolder;
  font-size: 70px;
}
.fDcontent {
  margin-top: 40px;
  margin-right: 20px;
  padding-right: 35px;
  text-align: justify;
}

.secondDiv {
  position: absolute;
  top: 80px;
  width: 516px;
  height: 550px;
  margin: 5px;
  padding: 10px;
  right: 20px;
}

textarea {
  width: 496px;
  height: 200px;
  resize: none;
  padding: 10px;
}

input {
  width: 496px;
  height: 40px;
}
button {
  width: 150px;
  height: 60px;
  background: #007bff;
  color: white;
  border: none;
  margin-top: 10px;
}
.fDInfo {
  align-items: center;
  margin: 60px;
  padding: 20px;
}
.fDlocation {
  gap: 5px;
  display: flex;
  align-items: center;
}
.fDlocation p {
  margin-bottom: 0px;
}
.fDphone {
  gap: 5px;
  display: flex;
  align-items: center;
}
.fDphone p {
  margin-bottom: 0px;
}
.fDemail {
  gap: 5px;
  display: flex;
  align-items: center;
}
.fDemail p {
  margin-bottom: 0px;
}
.userNameInput .userEmailInput .userTextInput {
  margin: 5px;
  padding: 5px;
}

.font-loader {
  font-family: "Roboto";
}

.userNameInput h4 {
  text-align: left;
  margin: 0px;
}

.userEmailInput h4 {
  text-align: left;
  margin: 0px;
}

.userTextInput h4 {
  text-align: left;
  margin: 0px;
}
