.Contents {
  width: auto;
  height: auto;
}
.Contactcontainer {
  display: flex;
}

.firstDiv {
  width: 600px;
  height: 500px;
  margin: 5px;
  padding: 10px;
}

.fDTitle h1 {
  font-weight: bolder;
  font-size: 70px;
}
.fDcontent {
  margin-top: 40px;
  margin-right: 20px;
  padding-right: 35px;
  text-align: justify;
}

.secondDiv {
  width: 516px;
  height: 550px;
  margin: 5px;
  padding: 10px;
}

textarea {
  width: 496px;
  height: 200px;
  resize: none;
  padding: 10px;
}

input {
  width: 496px;
  height: 40px;
}
button {
  width: 150px;
  height: 60px;
  background: #007bff;
  color: white;
  border: none;
  margin-top: 10px;
}
.fDInfo {
  align-items: center;
  margin: 60px;
  padding: 20px;
}
.fDlocation {
  gap: 5px;
  display: flex;
}
.fDphone {
  gap: 5px;
  display: flex;
}
.fDemail {
  gap: 5px;
  display: flex;
}

.userNameInput .userEmailInput .userTextInput {
  margin: 5px;
  padding: 5px;
}

.font-loader {
  font-family: "Roboto";
}

h4 {
  margin: 0px;
}
