.newscontainer {
  /* background-color: #ffc0cb; */
  background-color: #bab499;
}

.newslinks {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
}

.link {
  margin: 5px;
  gap: 10px;
  text-decoration: none;
  color: inherit;
}

.write {
  background-color: green;
  color: white;
  width: 50px;
  height: 25px;
  border-radius: 5px;
}

.write:hover {
  background-color: white;
  color: green;
}
